.container{
    width: 40px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}
.ball{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 0;
}